*.o
.dub/
test.d
main
test
parser
dateparse
package
parseresult
dateparser
libdateparse.a
libdateparser.a
bench
*.lst
*.def
*.log
trace.html
docdir/
gh-pages/
dub.selections.json
*.sublime*
*.ini
docs.json
